{% assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' %}

<section class="pop-up-products">
  {% for block in section.blocks %}
      {% assign product = block.settings.selected_product %}
      {% if product %}
      <div class="pop-up-product" >
        <div class="product-image">
            <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}" />
        </div>
        <div class="product-info">
            <div>
                <div class="product-info-image">
                <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}" />
                </div>
                <div class="info-context">
    
                    <h2 class="product-title}" >
                      {{ product.title }}
                  </h2>
                   
                    <div class="product-price">
                    
                    {%- render 'price',
                      product: product,
                      placeholder: placeholder,
                      use_variant: true,
                      show_badges: true,
                      price_class: 'price--large'
                    -%}
                  
                    </div>
                    <div class="product-description">
                    </div>
                </div>
            </div>
            <div class="product-variants">
              
            </div>
            <div class="buy-now-button">
            </div>
        </div>
      </div>
   {% endif %}
  {% endfor %}
  </section>

<style>
.product-info {
    display: none;
}
section.pop-up-products {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.pop-up-product {
    width: 30%;
}
.pop-up-product img {
    width: 100%;
}
</style>
{% schema %}
{
  "name": "Product Blocks",
  "settings": [],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "selected_product",
          "label": "Select a Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Blocks",
      "category": "Custom"
    }
  ]
}
{% endschema %}